<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Drift - A fully responsive, HTML5 based admin template">
    <meta name="keywords"
          content="Responsive, HTML5, admin theme, business, professional, jQuery, web design, CSS3, sass">
    <!-- /meta tags -->


    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '604375573406634',
                cookie: true,
                xfbml: true,
                version: 'v3.3'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function sendTokenToServer() {
            var access_token = FB.getAuthResponse()['accessToken'];
            console.log(access_token)
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function (response) {
                console.log('Successful login for: ' + response.name);
                $.ajax({
                    type: 'POST',
                    url: '/fbconnect',

                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    processData: false,
                    data: access_token,
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function (result) {
                        // Handle or verify the server response if necessary.
                        if (result) {
                            $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                            setTimeout(function () {
                                window.location.href = "/";
                            }, 0);
                        } else {
                            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                        }
                    }
                });
            })
        }

    </script>
    <!-- BEGIN Pre-requisites -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    </script>
    <!-- END Pre-requisites -->
    <script>
        function start() {
            gapi.load('auth2', function () {
                auth2 = gapi.auth2.init({
                    client_id: '987017379604-7i4kllhfh2632600fab05ilnvndf3ief.apps.googleusercontent.com',
                });
            });
        }
    </script>
    <title>{% block title%}Catalog{% endblock %}</title>

    <!-- Site favicon -->
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">
    <!-- /site favicon -->

    <!-- Font Icon Styles -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/flag-icon.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <!-- /font icon Styles -->

    <!-- Perfect Scrollbar stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/perfect-scrollbar.css')}}">
    <!-- /perfect scrollbar stylesheet -->

    <!-- Load Styles -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/chartist.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/semidark-style-1.min.css')}}">
    <!-- /load styles -->
    <style>
        @media only screen
        and (min-device-width: 320px)
        and (max-device-width: 568px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: portrait) {

            #itempic {
                display: none;
            }
        }
    </style>

</head>

{% block body %}
{% block header %}
<body class="dt-sidebar--fixed dt-header--fixed">
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<!-- Loader -->
<div class="dt-loader-container">
    <div class="dt-loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
        </svg>
    </div>
</div>
<!-- /loader -->
<!-- Root -->
<div class="dt-root">
    <div class="dt-root__inner">
        <!-- Header -->
        <header class="dt-header">

            <!-- Header container -->
            <div class="dt-header__container">

                <!-- Brand -->
                <div class="dt-brand">
                    <span class="dt-brand__logo">
        <a class="dt-brand__logo-link" href="/">
          <img style="width: 85px" class=" d-none d-sm-inline-block"
               src="{{url_for('static', filename='images/logo.png')}}" alt="Drift">
          <img class="dt-brand__logo-symbol d-sm-none" src="{{url_for('static', filename='images/logo-symbol.png')}}"
               alt="Drift">
        </a>
      </span>
                    <!-- /brand logo -->

                </div>
                <!-- /brand -->

                <!-- Header toolbar-->
                <div style="float: right" class="dt-header__toolbar">

                    <!-- Header Menu Wrapper -->
                    <div class="dt-nav-wrapper">
                        <!-- Header Menu -->
                        <ul class="dt-nav d-lg-none">
                            <li class="dt-nav__item dt-notification-search dropdown">
                                <!-- Dropdown Link -->
                                <a href="#" class="dt-nav__link dropdown-toggle no-arrow" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false"> <i
                                        class="icon icon-search icon-fw icon-lg"></i> </a>
                                <!-- /dropdown link -->

                                <!-- Dropdown Option -->
                                <div class="dropdown-menu">



                                </div>
                                <!-- /dropdown option -->

                            </li>
                        </ul>
                        <!-- /header menu -->

                        {% if user.is_authenticated %}
                        <!-- Header Login Menu -->
                        <ul style="float: right" class="dt-nav">
                            <li class="dt-nav__item dropdown">

                                <!-- Dropdown Link -->
                                <a href="#" class="dt-nav__link dropdown-toggle no-arrow dt-avatar-wrapper"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="dt-avatar size-30" src="{{user.picture}}"
                                         alt="">
                                    <span class="dt-avatar-info d-none d-sm-block">
                <span class="dt-avatar-name">{{user.name}}</span>
              </span> </a>
                                <!-- /dropdown link -->

                                <!-- Dropdown Option -->
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dt-avatar-wrapper flex-nowrap p-6 mt-n2 bg-gradient-purple text-white rounded-top">
                                        {% if user.picture %}
                                        <img class="dt-avatar" src="{{user.picture}}" alt="">
                                        <span class="dt-avatar-info">
                                        {% endif %}
                  <span class="dt-avatar-name">{{user.name}}</span>
                  <span class="f-12">{{user.email}}</span>
                </span>
                                    </div>
                                    <a class="dropdown-item" href="{{url_for('logout')}}"> <i
                                            class="icon icon-editors icon-fw mr-2 mr-sm-1"></i>Logout
                                    </a>
                                </div>
                                <!-- /dropdown option -->

                            </li>
                        </ul>
                        <!-- /header menu -->
                        {% else %}
                        <!-- Header Login Menu -->
                        <ul class="dt-nav">
                            <li class="dt-nav__item dropdown">

                                <!-- Dropdown Link -->
                                <div style="padding-top: 10px">
                                    <button type="button" class="btn btn-secondary mr-2 mb-2">
                                        <a href="{{url_for('login')}}">Login</a></button>
                                </div>
                                <!-- /dropdown link -->

                            </li>
                        </ul>
                        <!-- /header menu -->
                        {% endif %}
                    </div>
                    <!-- Header Menu Wrapper -->

                </div>
                <!-- /header toolbar -->

    </div>
    <!-- /header container -->

    </header>
    <!-- /header -->
    <!-- Site Main -->
    <main class="dt-main">
        <!-- Sidebar -->
        {% endblock %}
        <!-- /sidebar -->
        <!-- Site Content Wrapper -->
        <div class="dt-content-wrapper">

            <!-- Site Content -->
            <div class="dt-content">

                <!-- Page Header -->
                <div class="dt-page__header">
                    <h1 class="dt-page__title">Catalog App</h1>
                </div>
                <!-- /page header -->

                <!-- Grid -->
                <div class="row">

                    <!-- Grid Item -->
                    <div class="col-12">

                        <!-- Card -->
                        <div class="dt-card dt-card__full-height pb-4">

                            <!-- Card Header -->
                            <div class="dt-card__header mb-5">

                                <!-- Card Heading -->
                                <div class="dt-card__heading">
                                    <h3 class="dt-card__title">CATEGORIES</h3>

                                </div>
                                <!-- /card heading -->
                                {% if user.is_authenticated %}

                                <a href="{{url_for('new_category')}}" class="d-inline-block"><i
                                        class="icon icon-circle-add-o mr-2"></i>Add New</a>
                                {% endif %}
                            </div>
                            <!-- /card header -->

                            <!-- Card Body -->
                            <div class="dt-card__body p-0">
                                <!-- Widget -->
                                <div class="dt-widget dt-widget-sm dt-widget-hover">

                                    {% for category in categories %}
                                    <!-- Widget Item -->
                                    <div class="dt-widget__item">

                                        <!-- Widget Image -->
                                        <div class="dt-widget__img align-self-center">
                                            <!-- Avatar -->
                                            <i class="icon icon-ripple2 icon-fw icon-3x text-primary"></i>
                                            <!-- /avatar -->
                                        </div>
                                        <!-- /widget image -->

                                        <!-- Widget Info -->
                                        <div class="dt-widget__info text-truncate">
                                            <div class="dt-widget__title d-flex">
                                                    <span class="f-16 font-weight-500"><a
                                                            href="{{url_for('item', category_id = category.id)}}">{{category.name}}</a></span>
                                            </div>
                                        </div>
                                        <!-- /widget info -->

                                        <!-- Widget Extra -->
                                        <div class="dt-widget__extra text-right">
                                            <!-- Hide Content -->
                                            {% if user.is_authenticated %}
                                            <div>
                                                <!-- Action Button Group -->
                                                <div class="action-btn-group">
                                                    <button class="btn btn-primary btn-sm"><a style="color: white"
                                                                                              href="{{url_for('edit_category', category_id=category.id)}}">
                                                        Edit </a></button>
                                                    <button class="btn btn-secondary btn-sm"><a style="color: white"
                                                                                                href="{{url_for('delete_category', category_id=category.id)}}">
                                                        Delete </a></button>
                                                </div>
                                                <!-- /action button group -->
                                            </div>
                                            <!-- /hide content -->
                                            {% endif %}
                                        </div>
                                        <!-- /widget extra -->

                                    </div>
                                    <!-- /widgets item -->
                                    {% endfor %}


                                </div>
                                <!-- /widget -->
                            </div>
                            <!-- /card body -->

                        </div>
                        <!-- /card -->

                    </div>
                    <!-- /grid item -->


                </div>
                <!-- /grid -->

                <!-- Grid -->
                <div class="row">

                    <!-- Grid Item -->
                    <div class="col-xl-4 order-xl-2">

                        <!-- Grid -->
                        <div class="row">

                        </div>
                        <!-- /grid -->

                    </div>
                    <!-- /grid item -->

                    <!-- Grid Item -->
                    <div class="col-12">

                        <!-- Card -->
                        <div class="card">

                            <!-- Card header -->
                            <div class="card-header card-nav border-bottom-0">
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <h3 class="dt-card__title">Latest Items</h3>
                                </div>

                            </div>
                            <!-- /card header -->

                            <!-- Tab panel -->

                            <div class="tab-pane">

                                <!-- Card Body -->
                                <div class="card-body">

                                    <!-- Media List -->
                                    <div class="media-list media-separator">
                                        <!-- Media -->
                                        {% for item in items %}
                                        {% for category in categories %}
                                        {% if item.category_id == category.id %}
                                        <div class="media media-news">

                                        </div>
                                        <div class="media media-news">

                                            <!-- Image -->
                                            <img class="img-fluid rounded-xl order-sm-2 ml-sm-10"
                                                 src="{{item.url}}"
                                                 alt="">
                                            <!-- /image -->

                                            <!-- Media Body -->
                                            <div class="media-body order-sm-1">
                                                <h4 class="mb-2">{{item.name}}</h4>
                                                <h5><a href="{{url_for('item', category_id = category.id)}}">Category:
                                                    {{category.name}}</a></h5>
                                                <p class="mb-5">
                                                    {{item.description[:500]}}... <a
                                                        class="d-inline-block font-weight-500 align-middle"
                                                        href="{{url_for('item', category_id = category.id)}}">
                                                    <span>Read Full Description</span>
                                                    <i class="icon icon-arrow-long-right icon-lg ml-1"></i>
                                                </a>
                                                </p>

                                            </div>
                                            <!-- /media body -->

                                        </div>
                                        <!-- /media -->
                                        <!-- Media -->
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                        <!-- /media -->
                                    </div>
                                    <!-- /media list -->

                                </div>
                                <!-- /card body -->

                            </div>
                            <!-- /tab panel -->


                        </div>
                        <!-- /tab content-->

                    </div>
                    <!-- /card -->

                </div>
                <!-- /grid item -->

            </div>
            <!-- /grid -->

        </div>
        <!-- /site content -->
        <!-- Footer -->
        <footer class="dt-footer" style="width: 100%; max-width: 100%">
            Copyright Company Name © 2019
        </footer>
    </main>
    <!-- /footer -->
</div>
</div>
</div>
<!-- /root -->
{% endblock %}
<!-- Optional JavaScript -->
<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/moment.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
<!-- Perfect Scrollbar jQuery -->
<script src="{{url_for('static', filename='js/perfect-scrollbar.min.js')}}"></script>
<!-- /perfect scrollbar jQuery -->

<!-- masonry script -->
<script src="{{url_for('static', filename='js/masonry.pkgd.min.js')}}"></script>
<script src="{{url_for('static', filename='js/sweetalert2.js')}}"></script>
<script src="{{url_for('static', filename='js/functions.js')}}"></script>
<script src="{{url_for('static', filename='js/customizer.js')}}"></script><!-- Custom JavaScript -->
<script src="{{url_for('static', filename='js/chartist.min.js')}}"></script>
<script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
<script src="{{url_for('static', filename='js/custom/charts/dashboard-listing.js')}}"></script>


<script>
    function signInCallback(authResult) {
        if (authResult['code']) {

            // Hide the sign-in button now that the user is authorized, for example:
            $('#signinButton').attr('style', 'display: none');

            // Send the code to the server
            $.ajax({
                type: 'POST',
                url: '/gauth',
                // Always include an `X-Requested-With` header in every AJAX request,
                // to protect against CSRF attacks.
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                contentType: 'application/octet-stream; charset=utf-8',
                success: function (result) {
                    // Handle or verify the server response.
                    console.log(result)
                    if (result) {
                        $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                        setTimeout(function () {
                            window.location.href = "/";
                        }, 0);
                    } else if (authResult['error']) {
                        console.log('There was an error: ' + authResult['error']);
                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                },
                processData: false,
                data: authResult['code']
            });
        } else {
            // There was an error.
        }
    }
</script>

</body>

</html>
