<div class="dt-card">

                                <!-- Card Header -->
                                <div class="dt-card__header">

                                    <!-- Card Heading -->
                                    <div class="dt-card__heading">
                                        <h3 class="dt-card__title">Accordion</h3>
                                    </div>
                                    <!-- /card heading -->

                                </div>
                                <!-- /card header -->

                                <!-- Card Body -->
                                <div class="dt-card__body">

                                    <!-- Accordion -->
                                    <div class="accordion" id="accordion-example">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-one" aria-expanded="false" aria-controls="collapse-one">
                                                        Collapsible Group Item #1
                                                    </button>
                                                </h5>
                                            </div>

                                            <div id="collapse-one" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-example" style="">
                                                <div class="card-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid.
                                                    3
                                                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                                                    truck quinoa nesciunt
                                                    laborum
                                                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                                    squid single-origin coffee
                                                    nulla
                                                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                                    labore wes anderson cred
                                                    nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                    Leggings occaecat craft
                                                    beer
                                                    farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                    haven't heard of them accusamus
                                                    labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                                                        Collapsible Group Item #2
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse-two" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-example" style="">
                                                <div class="card-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid.
                                                    3
                                                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                                                    truck quinoa nesciunt
                                                    laborum
                                                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                                    squid single-origin coffee
                                                    nulla
                                                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                                    labore wes anderson cred
                                                    nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                    Leggings occaecat craft
                                                    beer
                                                    farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                    haven't heard of them accusamus
                                                    labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingThree">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-three" aria-expanded="false" aria-controls="collapse-three">
                                                        Collapsible Group Item #3
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse-three" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-example">
                                                <div class="card-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid.
                                                    3
                                                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                                                    truck quinoa nesciunt
                                                    laborum
                                                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                                    squid single-origin coffee
                                                    nulla
                                                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                                    labore wes anderson cred
                                                    nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                    Leggings occaecat craft
                                                    beer
                                                    farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                    haven't heard of them accusamus
                                                    labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /accordion -->

                                </div>
                                <!-- /card body -->

                            </div>
